<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Radigan" />

    <link rel="stylesheet" type="text/css" media="screen" href="../stylesheets/stylesheet.css">

    <title>References</title>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
          processEscapes: true
        }
      });
    </script>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/radiganm/">View on GitHub</a>
          <h1 id="project_title">References</h1>
          <h2 id="project_tagline"></h2>
        </header>
    </div>

    <!-- DOCKER CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">

    <h2><a name="docker" class="anchor" href="https://hub.docker.com/r/radiganm"><span class="octicon octicon-link"></span>Dockerhub</a></h2>

    <h3><a name="docker-axiom" class="anchor" href="https://hub.docker.com/r/radiganm/axiom"><span class="octicon octicon-link"></span>axiom</a></h3>
    <hr/>
    <h3><a name="docker-dox" class="anchor" href="https://hub.docker.com/r/radiganm/dox"><span class="octicon octicon-link"></span>dox</a></h3>
    <hr/>
    <h3><a name="docker-ecl" class="anchor" href="https://hub.docker.com/r/radiganm/ecl"><span class="octicon octicon-link"></span>ecl</a></h3>
    <hr/>
    <h3><a name="docker-gnss-sdr" class="anchor" href="https://hub.docker.com/r/radiganm/gnss-sdr"><span class="octicon octicon-link"></span>gnss-sdr</a></h3>
    <hr/>
    <h3><a name="docker-gpg" class="anchor" href="https://hub.docker.com/r/radiganm/gpg"><span class="octicon octicon-link"></span>gpg</a></h3>
    <hr/>
    <h3><a name="docker-haskell" class="anchor" href="https://hub.docker.com/r/radiganm/haskell"><span class="octicon octicon-link"></span>haskell</a></h3>
    <hr/>
    <h3><a name="docker-ijconsole" class="anchor" href="https://hub.docker.com/r/radiganm/ijconsole"><span class="octicon octicon-link"></span>ijconsole</a></h3>
    <hr/>
    <h3><a name="docker-mapbox-live" class="anchor" href="https://hub.docker.com/r/radiganm/mapbox-live"><span class="octicon octicon-link"></span>mapbox-live</a></h3>
    <hr/>
    <h3><a name="docker-octave" class="anchor" href="https://hub.docker.com/r/radiganm/octave"><span class="octicon octicon-link"></span>octave</a></h3>
    <hr/>
    <h3><a name="docker-openssl" class="anchor" href="https://hub.docker.com/r/radiganm/openssl"><span class="octicon octicon-link"></span>openssl</a></h3>
    <hr/>
    <h3><a name="docker-sbcl" class="anchor" href="https://hub.docker.com/r/radiganm/sbcl"><span class="octicon octicon-link"></span>sbcl</a></h3>
    <hr/>
    <h3><a name="docker-shen" class="anchor" href="https://hub.docker.com/r/radiganm/shen"><span class="octicon octicon-link"></span>shen</a></h3>
    <hr/>
    <h3><a name="docker-sumo" class="anchor" href="https://hub.docker.com/r/radiganm/sumo"><span class="octicon octicon-link"></span>sumo</a></h3>
    <hr/>
    <h3><a name="docker-uzbl" class="anchor" href="https://hub.docker.com/r/radiganm/uzbl"><span class="octicon octicon-link"></span>uzbl</a></h3>
    <hr/>
    <h3><a name="docker-vimb" class="anchor" href="https://hub.docker.com/r/radiganm/vimb"><span class="octicon octicon-link"></span>vimb</a></h3>
    <hr/>
    <h3><a name="docker-xcom" class="anchor" href="https://hub.docker.com/r/radiganm/xcom"><span class="octicon octicon-link"></span>xcom</a></h3>
    <hr/>

      </section>
    </div>

    <!-- GITHUB CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">

    <h2><a name="github" class="anchor" href="https://github.com/radiganm"><span class="octicon octicon-link"></span>Github</a></h2>

{% for k, meta in enumerate(metas) %}
    {% set repo   = meta['repo']   %}
    {% set readme = meta['README'] %}
    <h3><a name="{{repo}}" class="anchor" href="https://github.com/radiganm/{{repo}}"><span class="octicon octicon-link"></span>{{repo}}</a></h3>
    <p>
      [<a href="https://github.com/radiganm/{{repo}}/zipball/master">.zip</a>]
      [<a href="https://github.com/radiganm/{{repo}}/tarball/master">tar.gz</a>]
    </p>
    <hr/>

{% endfor %}

      </section>
    </div>

    <!-- MULTIMEDIA CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">

<h3><a name="circuits" class="anchor" href="#circuits"><span class="octicon octicon-link"></span></a>Electrical Circuits</h3>
<p>These are electrical circuits tutorials I developed under Dr. Keith Holber's educational research grant while I was a student:
<br/>
<ul>
  <li><a href="http://holbert.faculty.asu.edu/ece201/laddernetworks.html">Ladder Networks</a></li>
  <li><a href="http://holbert.faculty.asu.edu/ece201/kcl.html">Kirchoff's Current Law (KCL)</a></li>
  <li><a href="http://holbert.faculty.asu.edu/ece201/kvl.html">Kirchoff's Voltage Law (KVL)</a></li>
  <li><a href="http://holbert.faculty.asu.edu/ece201/nodalanalysis.html">Nodal Analysis</a></li>
  <li><a href="http://holbert.faculty.asu.edu/ece201/loopanalysis.html">Loop Analysis</a></li>
  <li><a href="http://holbert.faculty.asu.edu/ece201/superposition.html">Superposition</a></li>
  <li><a href="http://holbert.faculty.asu.edu/ece201/opamp.html">Operational Amplifiers</a></li>
  <li><a href="http://holbert.faculty.asu.edu/ece201/cameraflash.html">RC Circuits</a> (with help from Fred Vieux)</li>
</ul>
</p>

<h3><a name="power" class="anchor" href="#power"><span class="octicon octicon-link"></span></a>Power and Nuclear Engineering</h3>
<p>These are power and nuclear engineering tutorials I developed under Dr. Keith Holber's educational research grant while I was a student, 
along with the collaboration of Fred Vieux and Kiran Reddy.
<br/>
<ul>
  <li><a href="http://holbert.faculty.asu.edu/eee460/radon.html">U-238 and Radioactive Decay</a></li>
  <li><a href="http://holbert.faculty.asu.edu/eee460/fission.html">Fission</a></li>
  <li><a href="http://holbert.faculty.asu.edu/eee460/fusion.html">Fusion</a></li>
  <li><a href="http://holbert.faculty.asu.edu/eee460/massdefect.html">Mass Defect (Binding Energy)</a></li>
  <li><a href="http://holbert.faculty.asu.edu/eee460/decay.html">Radioactive Decay</a></li>
  <li><a href="http://holbert.faculty.asu.edu/eee460/gamma.html">Gamma Interactions</a></li>
  <li><a href="http://holbert.faculty.asu.edu/eee460/pwr.html">Pressurized Water Reactor (PWR)</a></li>
  <li><a href="http://holbert.faculty.asu.edu/eee460/bwr.html">Boiling Water Reactor (BWR)</a></li>
  <li><a href="http://holbert.faculty.asu.edu/eee460/spacecharge.html">Spacecraft Charging</a></li>
</ul>
</p>

      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright"><a href="https://github.com/radiganm">Mac Radigan</a></p>
      </footer>
    </div>

  </body>
</html>
